html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin-left: auto;
  margin-right: auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

input, button {
  border-radius: 10px;
  border: 1px solid grey;
  margin: 5px;
  padding: 6px;
}


